/* Hide specific GitHub link */
a[href*='https://github.com/Chainlit/chainlit']
{
  visibility: hidden !important;
}

/* Hide the entire chatbox including icon, placeholder, and all related elements */
div[class*='MuiFormControl-root'] {
  display: none !important;
}

/* Hide the open sidebar button */
#open-sidebar-button {
  display: none !important;
}
